@media (min-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    nav ul li a {
        border-radius: 10px;
    }

    .logo {
        width: 60px;
        margin-right: 10px;
    }


    .h2Header {
        font-size: 25px;
        margin-left: 25px;
    }

    h1 {
        background-color: black;
        color: black;
    }

    .nosotrosContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "articulo1 articulo1"
            "imagen1 imagen2"
            "articulo2 articulo2";
    }
}

@media (min-width: 1200px) {
    header {
        justify-content: space-between;
    }

    .logo {
        margin-left: 60px;
        width: 80px;
        border-radius: 50%;
    }

    #h1Primario {
        font-size: 100px;
    }

    .h2Header {
        font-size: 70px;
        margin-left: 150px;
    }

    nav ul {
        gap: 40px;
    }

    .h1Secundario {
        background-color: black;
        height: 90px;
        font-size: 70px;
    }

    h3 {
        text-align: start;
        margin-left: 30px;
    }

    p {
        font-size: 20px;
    }

    .pIndex{
        font-size: 22px;
    }

    .nosotrosContainer {
        grid-template-columns: 2fr 1.5fr 2fr;
        grid-template-areas:
            "articulo1 imagen1 articulo2"
            "articulo1 imagen2 articulo2";
    }

    form{
        margin: 50px 100px;
    }

    .mapa-container {
        box-shadow: 0 10px 20px black;
        display: flex;
        justify-content: center;
        margin: 50px;
        margin-top: 100px;
        height: 70%;
    }

    iframe {
        height: 100%;
    }
}