.nosotrosContainer {
    display: grid;
    grid-template-areas:
        "articulo1"
        "imagen1"
        "imagen2"
        "articulo2";
}

#a1 {
    grid-area: articulo1;
}
#i1{
    grid-area: imagen1;
}
#i2 {
    grid-area: imagen2;
}

#a3 {
    grid-area: articulo2;
}
@media (min-width: 768px) {
    .nosotrosContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "articulo1 articulo1"
            "imagen1 imagen2"
            "articulo2 articulo2";
    }
}
@media (min-width: 1200px) {
    .nosotrosContainer {
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-areas:
            "articulo1 imagen1 articulo2"
            "articulo1 imagen2 articulo2";
    }
}